ALTER TABLE public.certificates DROP CONSTRAINT IF EXISTS certificates_user_id_fkey;
ALTER TABLE public.certificates ADD CONSTRAINT certificates_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id);

DROP POLICY IF EXISTS \
Public
can
verify
certificates\ ON public.certificates;
CREATE POLICY \Public
can
verify
certificates\ ON public.certificates FOR SELECT USING (true);

